body{
  background: #E7E7E7;
}
#navbar{
  background: #292929;
  color: #fff;
}
#footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  color: #fff;
  background: #292929;
}